<br><p>
<div class="row">
  <mat-progress-bar mode="query" [hidden]="customers != undefined"></mat-progress-bar>
</div>
<div class="row" [hidden]="customers == undefined">    
  <div class="row">
      <div class="col-md-12 col-xs-12 col-lg-12">
        <div class="col-md-4 col-xs-4 col-lg-4"></div>        
        <div fxLayout fxLayoutAlign="center center">
          <mat-form-field fxFlex="100%">
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>   
        <div class="col-md-4 col-xs-4 col-lg-4"></div>  
      </div> 
      <div class="row">  
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>
          <ng-container matColumnDef="Details">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
              </button>  
            </td>
          </ng-container>
          <ng-container matColumnDef="{{column}}" *ngFor="let column of calColumns">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
          </ng-container>
          <ng-container matColumnDef="IsHof">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Hof</th>
            <td mat-cell *matCellDef="let element">
              <mat-slide-toggle [checked]="element.IsHof" name="IsHof" color="primary" disabled></mat-slide-toggle>  
            </td>
          </ng-container>
            <ng-container matColumnDef="Active">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
              <td mat-cell *matCellDef="let element">
                <mat-slide-toggle [checked]="element.Active" name="Active" color="primary" disabled></mat-slide-toggle>  
              </td>
          </ng-container>
          <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">      
              <button mat-icon-button color="primary" aria-label="Example icon button with a delete icon" (click)="openDialog(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
              <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="inner-table mat-elevation-z8" *ngIf="expandedElement">
                  <form class="example-form" (ngSubmit)="saveCustomer()">  
                    <div class="row">     
                      <div class="col-md-3 col-xs-3 col-lg-3">
                      <mat-card>
                        <mat-slide-toggle [checked]="element.IsHof" name="IsHof" color="primary" 
                                [(ngModel)]="element.IsHof">Head Of the Family</mat-slide-toggle>             
                        <mat-form-field [hidden]="element.IsHof">
                          <mat-label>HofName</mat-label>
                          <input matInput placeholder="Ex. Head Of the family Name" value="{{element.HofName}}" name="HofName">
                        </mat-form-field>
                        <mat-form-field>
                          <mat-label>Name</mat-label>
                          <input matInput placeholder="Ex. Customer Name" value="{{element.Name}}" name="Name">
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                          <mat-label>CardCategory</mat-label>
                          <input matInput value="{{element.CardCategory}}" name="CardCategory" placeholder="Ex. SPHH" >
                        </mat-form-field>
                        <mat-form-field>
                          <mat-label>CardNumber</mat-label>
                          <input matInput placeholder="Ex. SPHH-0051003419" value="{{element.CardNumber}}" name="CardNumber">
                        </mat-form-field>
                        <mat-form-field>
                          <mat-label>AdharNo</mat-label>
                          <input matInput placeholder="Ex. 123245879654" value="{{element.AdharNo}}" name="AdharNo">
                        </mat-form-field>                       
                        <mat-form-field>
                          <mat-label>MobileNo</mat-label>
                          <input matInput placeholder="Ex. 9864758477"  name="MobileNo"
                          value="{{element.MobileNo}}" >
                        </mat-form-field> 
                      </mat-card>
                      </div>
                      <div class="col-md-3 col-xs-3 col-lg-3">
                      <mat-card>
                        <mat-form-field>
                          <mat-label>Age</mat-label>
                          <input matInput placeholder="Ex. 35" value="{{element.Age}}" name="Age">
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                        <mat-label>Address</mat-label>
                        <textarea matInput value="{{element.Address}}" name="Address" placeholder="Ex. Address"></textarea>
                        </mat-form-field>              
                        <mat-form-field>
                        <mat-label>RelationWithHof</mat-label>
                        <input matInput placeholder="Ex. Father" value="{{element.RelationWithHof}}" name="RelationWithHof">
                        </mat-form-field>
                        <mat-form-field>
                        <mat-label>GaurdianName</mat-label>
                        <input matInput placeholder="Ex. Mostly Hof name if same" value="{{element.GaurdianName}}" name="GaurdianName">
                        </mat-form-field>  
                        <mat-form-field appearance="fill">
                        <mat-label>GaurdianRelation</mat-label>
                        <input matInput value="{{element.GaurdianRelation}}" name="GaurdianRelation" placeholder="Ex. Father">
                        </mat-form-field>
                      </mat-card>
                      </div>
                      <div class="col-md-3 col-xs-3 col-lg-3">
                      <mat-card>
                        <mat-form-field appearance="fill">
                          <mat-label>CreatedDate</mat-label>
                          <input matInput [matDatepicker]="pickerCreatedDate"
                          value="{{element.CreatedDate}}" placeholder="Ex. mm/dd/yyyy">
                          <mat-datepicker-toggle matSuffix [for]="pickerCreatedDate"></mat-datepicker-toggle>
                          <mat-datepicker #pickerCreatedDate></mat-datepicker>
                        </mat-form-field>
                        <mat-slide-toggle [checked]="element.Active" name="Active" color="primary" [(ngModel)]="element.Active">Active</mat-slide-toggle>
                        <mat-form-field appearance="fill" [hidden]="element.Active">
                          <mat-label>InactivatedDate</mat-label>
                          <input matInput name="InactivatedDate" matInput [matDatepicker]="pickerInactivatedDate"
                          value="{{element.InactivatedDate}}" placeholder="Ex. mm/dd/yyyy">
                          <mat-datepicker-toggle matSuffix [for]="pickerInactivatedDate"></mat-datepicker-toggle>
                          <mat-datepicker #pickerInactivatedDate></mat-datepicker>
                        </mat-form-field>
                      </mat-card>
                      </div>
                      <div class="col-md-3 col-xs-3 col-lg-3">
                        <mat-card>
                          <mat-form-field>
                            <mat-label>CustomerSerial</mat-label>
                            <input matInput placeholder="Automatic From BackEnd" disabled value="{{element.CustomerSerial}}" name="CustomerSerial">
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>CustomerRowId</mat-label>
                            <input matInput placeholder="Automatic From BackEnd" disabled value="{{element.CustomerRowId}}" name="CustomerRowId">
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>FamilyId</mat-label>
                            <input matInput placeholder="Automatic From BackEnd" disabled value="{{element.FamilyId}}" name="FamilyId">
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>RelationWithHofId</mat-label>
                            <input matInput placeholder="Automatic From BackEnd" disabled value="{{element.RelationWithHofId}}" name="RelationWithHofId">
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>HofId</mat-label>
                            <input matInput placeholder="Automatic From BackEnd" disabled value="{{element.HofId}}" name="HofId">
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>GaurdianRelId</mat-label>
                            <input matInput value="{{element.GaurdianRelId}}" disabled name="GaurdianRelId" placeholder="Automatic From BackEnd">
                          </mat-form-field>
                          <mat-form-field appearance="fill">
                            <mat-label>CardCategoryId</mat-label>
                            <input matInput value="{{element.CardCategoryId}}" disabled name="CardCategoryId" placeholder="Automatic From BackEnd">
                          </mat-form-field>
                        </mat-card> 
                      </div>
                    </div>
                    <mat-card>
                      <button mat-button type="submit">Save</button>
                    </mat-card>
                </form>        
                </div>
              </div>
            </td>
          </ng-container>
            
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;" 
          [class.example-element-row]="true"
          [class.example-expanded-row]="expandedElement === element" (click)="toggleRow(element)"
          ></tr>
          <tr mat-row *matRowDef="let element; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[2, 4, 6, 10, 20, 40, 60, 100]">
        </mat-paginator>
    </div>
  </div>
</div>