<br>
<div class="row">     
    <div class="col-md-12 col-xs-12 col-lg-12">
        <h4 class="compHeader rounded">About RationcardRegister!</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-xs-12 col-lg-12 align-middle">
        <div>Voluntary project for managing Rationcard Customers</div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-3 col-xs-3 col-lg-3 align-middle">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d230.52486391763196!2d88.4323457757703!3d22.414047677532803!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a026d85b8c756d3%3A0x366117e396d3563c!2sSUBHASGRAM%20RESON%20SHOP!5e0!3m2!1sen!2sin!4v1621332879981!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>