<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <span class="example-app-name">Rationcard Register</span>
    <span class="example-spacer"></span>
    <div class="example-userinfo">
      <button mat-button [matMenuTriggerFor]="profilemenu"><h1>
        <img class="avatarpic" [src]="userPic" width="50px" height="50px" />
        Welcome <span>{{ username }}</span></h1></button>
      <mat-menu #profilemenu="matMenu">
        <button mat-menu-item routerLink="/profile" routerLinkActive="active" ><mat-icon svgIcon="profile"></mat-icon>Profile</button>
        <button mat-menu-item routerLink="/notification" routerLinkActive="active" >
          <button mat-raised-button color="primary"
              matBadge="" matBadgePosition="before" matBadgeColor="accent">
            Notification
          </button>
        </button>
        <button mat-menu-item routerLink="/logout" routerLinkActive="active" ><mat-icon svgIcon="logout"></mat-icon>Logout</button>
      </mat-menu>      
    </div>        
  </mat-toolbar>
  
  <mat-sidenav-container class="example-sidenav-container" (backdropClick)="snav.close()"
  [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
<mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" (keydown.escape)="snav.close()"
[fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
<mat-nav-list>
          <button mat-menu-item routerLink="" routerLinkActive="active" >
            <mat-icon>home</mat-icon>
            Home</button>
          <button mat-menu-item routerLink="/search" routerLinkActive="active" >
            <mat-icon svgIcon="search"></mat-icon>
            CustomerSearch</button>
            <button mat-menu-item routerLink="/help" routerLinkActive="active" >
              <mat-icon svgIcon="help"></mat-icon>
              Help</button>
            <button mat-menu-item routerLink="/admin" routerLinkActive="active" >
              <mat-icon svgIcon="admin"></mat-icon>
              Admin</button>
            <mat-menu #menu="matMenu"></mat-menu>
          </mat-nav-list>
        </mat-sidenav>
    
        <mat-sidenav-content>
          <router-outlet></router-outlet>
          <br/><mat-divider></mat-divider>
          <div class="col-xs-12 col-md-12">
          <app-about-app></app-about-app>
        </div> 
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <!-- Angular Material Icon - https://fonts.google.com/icons -->