<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Arindam Dey</h1>
  </mat-toolbar>
  
  <mat-sidenav-container class="example-sidenav-container" (backdropClick)="snav.close()"
  [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
<mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" (keydown.escape)="snav.close()"
[fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
<mat-nav-list>
          <button mat-menu-item routerLink="" routerLinkActive="active" >
            <mat-icon>home</mat-icon>
            Home</button>
          <button mat-menu-item routerLink="/customer" routerLinkActive="active" >
            <mat-icon svgIcon="input"></mat-icon>
            CustomerInput</button>  
          <button mat-menu-item routerLink="/search" routerLinkActive="active" >
            <mat-icon svgIcon="search"></mat-icon>
            CustomerSearch</button>
            <button mat-menu-item routerLink="/help" routerLinkActive="active" >
              <mat-icon svgIcon="help"></mat-icon>
              CustomerSearch</button>
            <mat-menu #menu="matMenu"></mat-menu>
          </mat-nav-list>
        </mat-sidenav>
    
        <mat-sidenav-content>
          <router-outlet></router-outlet>
          <br/><mat-divider></mat-divider>
          <div class="col-xs-12 col-md-12">
          <app-about-app></app-about-app>
        </div> 
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>